<div class="text-center pt-5">
  <h4>お支払いについて</h4>
</div>
<br>
<div class="offset-sm-3 col-sm-6 mb-5">
    クラーク塾をご利用頂くためには、まず入会金のお支払いが必要です。<br>
    下記口座にお振込をお願い致します。<br><br>
    金額：　10000円
</div>
<div class="text-center offset-sm-3 col-sm-6 card card-body bg-light">
    銀行名：  クラーク銀行<br>
    支店名：  北大支店<br>
    口座番号：  123456789
</div>
<div class="my-5 text-center">
  <%= link_to 'ホームに戻る',pages_mypage_path %>
</div>