<div class="text-center pt-5">
  <h2>mypage</h2>
</div>
<br>
<div class="offset-2 col-8 mb-5">
    <div class="card card-body bg-light mb-3 ">
        <%= link_to '授業プラン選択',new_user_session_path, class: "text-center",:style=>"color:black;"%>
    </div>
    <div class="card card-body bg-light mb-3 ">
        <%= link_to '今月の授業予定',new_user_registration_path, class: "text-center",:style=>"color:black;"%>
    </div>
    <div class="card card-body bg-light mb-3 ">
        <%= link_to '過去の授業履歴',new_user_registration_path, class: "text-center",:style=>"color:black;"%>
    </div>
    <div class="card card-body bg-light mb-3 ">
        <%= link_to 'プロフィール編集',new_user_registration_path, class: "text-center",:style=>"color:black;"%>
    </div>
</div>