<%# <footer class="footer bg-light ">
  <div class="container">
    <div class="row text-center pt-4">
        <div class="col-sm-2 mb-3">
        <i class="far fa-envelope"></i>
        <%= link_to "お問い合わせ",root_path,:style=>"color:black;" %>
        <%# </div> 
        <div class="col-sm-2 mb-3">
        <i class="far fa-envelope"></i>
        <%= link_to "利用規約",root_path,:style=>"color:black;" %>
        <%# </div> 
    </div>
    <br>
  </div> %>
<%# </footer> %>